<section class="faq container">
    <div class="title primary">よくある質問</div>

    <ul class="faq__list">
        <li>
            <%- include('./components/_faq-card',
            {q:'一人でビジネスをしているのですが、実際には法人するか決めていませんが、参加しても大丈夫でしょうか？',
            a:'はい、大丈夫です。個人事業主・フリーランスの方や、事業の法人化を検討されている方も、<br>多くご参加いただいております。はじめて経営を勉強する方でも、わかりやすい事例を踏まえてお伝えしていますので、ご安心ください。'}); %>
        </li>
        <li>
            <%- include('./components/_faq-card',
            {q:'「脱・職人」とありますが、仕事は好きなので続けたいと思っています。<br>私のような人でも対象になるか心配です。',
            a:'努力して身につけたスキルを武器に、好きな仕事をしているというのは、素晴らしいことだと思います。しかし、「このままでは体力が持たない」とか、「もう少し仕組み化で効率を図りたい」「チームで回せるようにしたい」など好きな仕事を続けるためにも、いろいろと会社経営を考えないといけません。<br><br>大事なことは、経営を身につけて「好きな仕事を辞める」のではなく「もしもの時に備える」または「売上の悩みを減らす」ことです。好きな仕事を続けるためにも、是非、ご自身の経営を考えるきっかけにしてください。'}); %>
        </li>
        <li>
            <%- include('./components/_faq-card',
            {q:'専門資格を持っていませんし、職人でもないのですが、参加しても良いでしょうか？',
            a:'はい、是非ご参加ください。ご自身の事業を見直し、これから「経営者」として事業を発展させたい方も多くいらっしゃいます。また、本セミナーの内容を応用いただき、会社経営に活かすことができる情報をお伝えしますので、是非、ご参加ください。'}); %>
        </li>
        <li>
            <%- include('./components/_faq-card',
            {q:'友だちといっしょにセミナーに参加したいのですが、申込名は一名でも大丈夫ですか？',
            a:'それぞれの申込みに個別の特典をプレゼントしております。また、参加者の確認のためにもお手数ですが別々でのお申し込みをお願い致します。'}); %>
        </li>
        <li>
            <%- include('./components/_faq-card',
            {q:'当日は、聞くだけの参加でも大丈夫でしょうか？',
            a:'セミナーは少人数制になっています。コミュニケーションを取りながら、参加者の経営スキルや会社の状況に合わせてセミナー内容を一部変更しながら行います。必ずお顔が見える状態で参加をお願いしています。<br><br>本セミナーに参加することで、普段の仕事の手を止めて、「考える時間」「会社の現状と向き合う時間」が何よりも勉強になります。携帯やメールも鳴らない静かな場所で、ぜひご参加ください。'}); %>
        </li>
        <li>
            <%- include('./components/_faq-card',
            {q:'セミナー内で、現在のビジネスの悩みなど質問しても大丈夫ですか？',
            a:'はい。ぜひ、今お持ちの悩みや疑問などありましたら、質問できる時間を設けますので、何でも質問してください。なるべく多くの質問にお答えして、ビジネスが一歩でも前に進めるようにお力になれたらと思っています。'}); %>
        </li>
    </ul>

    <div class="faq__support bold">
        JPBAカスタマーサポート（営業時間：平日）<br>
        【Mail】<br>
        【TEL】
    </div>

</section>
