<section class="howto container">
    <div class="howto__title">結局<span class="primary">《経営って》</span>何からやれば良いのか？</div>
    <div class="howto__desc">
        多くの社長は、この部分がわかりません。<br>
        では、経営ができる「社長の仕事」とは何か？<br>
        失敗する社長ではく、成功し続ける社長になるためにどうしたら良いのか？<br>
        5000人のトップリーダーの「リアルな悩み」を聞いてきた講師が<br>
        『経営のきほん』をイチから解説していきます。
    </div>

    <div class="flex">
        <%- include('./components/_card',
            {ico:'./assets/img/ico-beginner.svg',
            title:'初心者大歓迎',
            desc:'経営がなにか分からなくても<br>「はじめて経営を学ぶ」人でも、<br>丁寧にお伝えするので大丈夫'}); %>
        <%- include('./components/_card',
            {ico:'./assets/img/ico-sell.svg',
            title:'自由に売上を上げる',
            desc:'売上を上げるために<br>「今日から何をすれば良いのか」<br>結果を出す方法が分かります'}); %>
        <%- include('./components/_card',
            {ico:'./assets/img/ico-timer.svg',
            title:'最短で商品単価を上げる',
            desc:'セールスしても「値段」で断られる。<br>値上げしたらお客さんから嫌われる。<br>と思っている方は解決方法があります。'}); %>
        <%- include('./components/_card',
            {ico:'./assets/img/ico-man.svg',
            title:'現役社長が講師',
            desc:'実際にビジネス経験のある講師が、<br>経験談を通した「マル秘」経営ノウハウを凝縮してお伝えします。'}); %>
        <%- include('./components/_card',
            {ico:'./assets/img/ico-megaphone.svg',
            title:'集客力アップ',
            desc:'予算ゼロ・見込み客ゼロ、<br>広告費ゼロでも継続的にお客さんに選ばれる、<br>そんな集客が出来るノウハウを公開'}); %>
        <%- include('./components/_card',
            {ico:'./assets/img/ico-global.svg',
            title:'国内・海外からも受講者多数',
            desc:'オンライン授業と動画での反転授業で、国内・海外問わずマレーシアなど経営を学びたい社長が受講しています。'}); %>
    </div>
</section>
